<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_name)">
    <xacro:arg name="robot_name" default="default_robot" />
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="robot_urdf_file" default="" />
    <xacro:arg name="robot_control_xacro_file" default="" />
    <xacro:arg name="robot_control_yaml_file" default="" />
    <xacro:arg name="control_macro_name" default="" />
    
    <!-- Import robot urdf file - use $(arg ...) syntax -->
    <xacro:include filename="$(arg robot_urdf_file)" />

    <!-- Import control_xacro - use $(arg ...) syntax -->
    <xacro:include filename="$(arg robot_control_xacro_file)" />
    
    <xacro:waikato_robot_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
          <parameters>$(arg robot_control_yaml_file)</parameters>
        </plugin>
    </gazebo>
</robot>
