<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_name)">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import physical configso101_follower urdf file -->
    <xacro:include filename="$(find so101_follower_description)/urdf/so101_follower_gz.urdf.xacro" />

    <!-- Import logical control control_xacro -->
    <xacro:include filename="$(find waikato_robot_sim_moveit)/config/so101_follower_gz.ros2_control.xacro" />

    <xacro:waikato_robot_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/>

    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
          <ros2_control>
            <parameters>$(find waikato_robot_sim_moveit)/config/ros2_controllers_gz.yaml</parameters>
          </ros2_control>
        </plugin>
    </gazebo>
</robot>
